<html>
<head>
    <style>
        table {
            border: 0;
            border-spacing: 0;
            width: 180mm;
            border-right: 0.05mm dotted #ddd;

        }

        td {
            width: 30mm;
            border-left:   0.05mm dotted #ddd;
            border-top:    0.05mm dotted #ddd;
            border-bottom: 0.05mm dotted #ddd;
            font-family: monospace;
            font-size: 8mm;
            padding: 2mm;
            white-space:nowrap;
            text-align: center;
        }


        .to-top {
            padding-bottom: 30mm;
        }

        .from-bottom {
            -webkit-transform: rotate(-180deg);
        }

        .to-bottom {
            -webkit-transform: rotate(-180deg);
        }
    </style>
</head>
<body>

<table>
    {{#rows}}
    <tr>
        {{#cells}}
        <td style="background-color: #{{colorHex}}; -webkit-print-color-adjust: exact; ">
            <div class="from-top">{{.}}</div>
            <div class="to-top"></div>

            <div class="from-bottom"></div>
            <div class="to-bottom">{{.}}</div>
        </td>
        {{/cells}}
    </tr>
    {{/rows}}
</table>
</body>
</html>